.code-display{
    position: relative;
}
.markdown{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    border: #e2e6ea 1px solid;
    border-radius: 12px;
    background-color: #f5f2f0;
}

.copy-container{
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 10px;
    background: #eadfdf;
}