.code-display{
    position: relative;
    width: content-box;
    height: content-box;
}
.markdown{
    position: relative;
}

.copy-container{
    position: absolute;
    top: 7px;
    right: 2px;
    border-radius: 10px;
    background: #dacece;
}