.chat-box{
    display: flex;
    justify-content: center;
    width: auto;
}
.profile-container{
    position: absolute;
    top: 5px;
    left: 5px;
}
.is-first-line{
    margin-top: 0px;
}
.content-container{
    width: 95%;
    display: flex;
    margin-left: 35px;
    margin-right: 0px;
    flex-direction: column;
}