.chat-list-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 120px;
    margin-top: 20px;
}
.chat-box{
    display: flex;
    justify-content: center;
    width: calc(100vw - 256px);
}
.profile-container{
    position: absolute;
    top: 15px;
    left: 8px;
}
.is-first-line{
    margin-top: 0px;
}
.content-container{
    display: flex;
    margin-left: 30px;
    margin-right: 25px;
    flex-direction: column;

}