.setting-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
    height: 40px;
    /*background: red;*/
    width: calc(100vw - 256px);
    align-items: center;
    gap: 12px;
}
