
.app-container{
    display: flex;
    flex-direction: row;
}
.side-main-container{
    margin-top: 50px;
    display: flex;
    width: 100vw;
    flex-direction: row;
}
.side-menu-container{
    display: flex;
    flex-direction: column;
    /*width: 256px;*/
    height: calc(100vh - 50px);
    background-color: #ffffff;
    border-right: #e7e1e1 1px solid;
}