.position-input-area{
    position: fixed;
    bottom: 0;
}
.input-area-container{
    display: flex;
    width: calc(100vw - 256px);
    height: 65px;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}